<!DOCTYPE html>
<form action="/" method="post">
<html>
    <head>
    <meta charset="utf-8">
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/demo.css">
    <title>J2J試作</title>
    </head>
    <body>
    <header class="navigation"><a href="demo.html"><img src="static/ロゴ.jpg" height="30" width="40"></a></header>
    <main>
    <div class="kantan">
    <p> <font size="15">ヒットしませんでした...他の言葉を試してみましょう</font></p>
    <p> <font size="20">むずかしい日本語をかんたんにします</font></p>
    </div>
    <div class="box1">
    <div class=" col-10 box3 m-5 p-5 ">
    <input id="seach" id="s" name="target_word" type="text" placeholder="むずかしい日本語">
                    <div>
    <input id="sbtn" type="submit" value="かんたんにする">
                    </div>
    </div>
    </div>
    </main>
    </body>
</html>
</form>
